* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #90C7E3;
  font-family: Verdana, Arial, sans-serif;
  color: #666666;
}

header {
  background-color: #002171;
  color: #ffffff;
  padding: 1em;
}

header h1 {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.5em;
  margin: 0;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

header a:link,
header a:visited {
  color: #ffffff;
}

header a:hover {
  color: #90C7E3;
}

nav {
  background-color: #ffffff;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

nav li {
  padding: 0.5em 1em;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}

nav a {
  text-decoration: none;
}

nav a:link {
  color: #5C7FA3;
}

nav a:visited {
  color: #344873;
}

nav a:hover {
  color: #A52A2A;
}

#wrapper {
  background-color: #ffffff;
}

main {
  padding: 1em;
}

section {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

h2 {
  color: #1976D2;
  font-family: Georgia, "Times New Roman", serif;
}

h3 {
  font-family: Georgia, "Times New Roman", serif;
}

.resort {
  color: #1976D2;
  font-size: 1.2em;
}

#homehero,
#yurthero,
#trailhero,
#reshero {
  height: 300px;
  background-repeat: no-repeat;
  background-size: 200% 100%;
}

#homehero {
  background-image: url("coast.jpg");
}

#yurthero {
  background-image: url("yurt.jpg");
}

#trailhero {
  background-image: url("trail.jpg");
}

#reshero {
  background-image: url("ocean.jpg");
}

footer {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  padding: 1em;
}

table {
  border: 2px solid #3399CC;
  border-collapse: collapse;
}

th,
td {
  border: 2px solid #3399CC;
  padding: 0.5em;
}

td {
  text-align: center;
}

.text {
  text-align: left;
}

tr:nth-of-type(odd) {
  background-color: #F5FAFC;
}

form {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  width: 80%;
}

label {
  margin-bottom: 0.2em;
}

input,
textarea {
  margin-bottom: 0.5em;
  font-family: inherit;
  font-size: 1em;
}

#mySubmit {
  width: 9em;
}

#mobile {
  display: inline;
}

#desktop {
  display: none;
}

@media (min-width: 600px) {
  header h1 {
    font-size: 2em;
    letter-spacing: 0.25em;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-around;
    padding-right: 2em;
  }

  nav li {
    width: 12em;
    border-bottom: none;
  }

  section {
    padding-left: 2em;
    padding-right: 2em;
  }

  #flow {
    display: flex;
    flex-direction: row;
  }

  #mobile {
    display: none;
  }

  #desktop {
    display: inline;
  }

  #homehero,
  #yurthero,
  #trailhero,
  #reshero {
    background-size: 100% 100%;
  }

  form {
    width: 60%;
    display: grid;
    grid-template-columns: 10em 1fr;
    grid-gap: 1em;
    padding-left: 1em;
  }

  form label {
    text-align: right;
    padding-right: 0.5em;
    margin-bottom: 0;
  }

  input,
  textarea {
    margin-bottom: 0;
  }

  input[type="submit"] {
    grid-column: 2 / 3;
  }
}

@media (min-width: 1024px) {
  body {
    background-image: linear-gradient(to bottom, #ffffff 20%, #90C7E3 60%, #ffffff 100%);
  }

  nav ul {
    padding-left: 10%;
    padding-right: 10%;
  }

  #wrapper {
    width: 80%;
    margin: auto;
  }
}
